:global {
  :local(.root) {
    .ant-layout-content {
      margin: 24px 16px;
      padding: 24px;
      background: #fff;
      min-height: 280px;
    }
    .ant-layout-header {
      background: #fff;
      height: 80px;
      padding: 0;
    }
  }
}
