:global {
  :local(.root) {
    height: 100%;
    .ant-layout-content {
      margin: 10px 0 0 10px;
      overflow: hidden auto;
    }
    .ant-layout-header {
      border: 1px solid #fff;
      border-bottom-color: #eee;
      background: linear-gradient(to top, white, #eee);
      height: 80px;
      padding: 0;
    }
    .ant-layout-sider {
      overflow: hidden auto;
    }
  }
}
